.titulos_houses {
    background-image: url(../img/houses.png);
    display: flex;
    font-size: 4rem;
    padding: 6rem;
    font-weight: 300;
}

.titulos_dragons {
    background-image: url(../img/dragones.png);
    background-size: cover;
    display: flex;
    font-size: 4rem;
    padding: 6rem;
    font-weight: 300;

}

.titulos_history {
    background-image: url(../img/history.png);
    background-size: cover;
    display: flex;
    font-size: 4rem;
    padding: 6rem;
    font-weight: 300;
}

.titulos_thewall {
    background-image: url(../img/elmuro.png);
    background-size: cover;
    display: flex;
    font-size: 4rem;
    padding: 6rem;
    font-weight: 300;
}